<!DOCTYPE html>
<html>
<head>
  <title>Link Patient</title>
  <link rel="stylesheet" href="/css/auth.css">
</head>
<body>

<div class="auth-wrapper">
  <div class="auth-card">
    <h2 class="auth-title">Link Patient</h2>
    <p class="auth-subtitle">Enter the invite code shared by patient</p>

    <input id="code" placeholder="PAT-XXXX">

    <p class="error" id="msg"></p>

    <button id="linkBtn" class="auth-btn" onclick="link()">Link Patient</button>


    <button
      id="dashBtn"
      class="auth-btn disabled-btn"
      disabled
      onclick="location.href='/caregiver/dashboard'"
    >
      Go to Dashboard
    </button>
  </div>
</div>

<script src="/js/caregiverLink.js"></script>

</body>
</html>